$randA : 7, 9, 2, 5, 8, 8, 3, 8, 6, 2, 5, 3, 7, 5, 8, 8, 6, 0, 3, 4, 2, 8, 4, 2, 1, 5, 2, 7, 6, 4, 9, 1, 4, 4, 2, 0, 4;
$randB : 8, 7, 5, 0, 0, 0, 4, 7, 9, 9, 2, 9, 4, 3, 1, 1, 7, 4, 8, 7, 9, 4, 1, 7, 2, 6, 7, 7, 9, 4, 1, 6, 5, 5, 7, 3, 3;

$maxCardRotation : 0.6deg;
$cardScale : 1;

$retinaCardWidth: 600px * $cardScale;
$cardWidth: $retinaCardWidth / 2;
$retinaCardHeight: 882px * $cardScale;
$cardHeight: $retinaCardHeight / 2;

.cards{
  position:relative;
  height:$cardHeight + 20px;
  width:$cardWidth + 20px;
  margin-bottom:0;
  margin-right: auto;
  margin-left: auto;
  .bottom{
    padding: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
    vertical-align: middle;
    &>div{
      display: table-cell;
      vertical-align: middle;
    }
    p.glyphs {
      font-size:65px;
    }
    p.copy {
      font-size:24px;
    }
  }
}
.inDeck{
  li{
    transform:rotate(0)!important;
  }
}
.card{
  display:block;
  overflow:hidden;
  width : $cardWidth;
  height: $cardHeight;
  position:absolute;
  top:10px;
  cursor: pointer;
  border-radius:13px;
  transform:translateZ(0);
  backface-visibility:hidden;
  .matchDisplay{
    background-size:cover;
    background-position: 50% 50%;
    width :$cardWidth;
    height:$cardHeight;
    .description{

    }
    .userInfo {
      position: absolute;
      bottom:0px;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      width: 100%;
      .about{
        overflow:hidden;
        cursor:default;
      }
      .name, .more, .about{
        padding: 3px 11px;
      }
      .more{
        display:block;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        width: 100%;
        text-align:center;
      }
    }
  }
  @for $cardI from 1 through 10 {
    &:nth-child(#{$cardI}) {
      transform:rotate( ( nth($randA, $cardI) - 5) *  $maxCardRotation);
      left: 10 + ( nth($randB, $cardI) - 5 ) * 1px;
    }
  }
  background:#999;
}