.interestsSelector {
  li {
    background-color: $oil;
    padding: 3px 9px;

    &.active {
      background-color: lighten($primary-color, 0.3);
    }
  }

  .interests {

    .open {
      display: block;
    }
  }
}
