<nav class="top-bar row" ng-controller="NavbarController">
  <ul class="title-area">
    <li class="name">
      <h1>{{Strings.siteTitle}}</h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>
        <a ui-sref="home">Home</a>
      </li>
      <li>
        <span class="button" ng-click="toggleMatches()">{{Strings.matches}}</span class="button">
      </li>
      <li>
        <span class="button" ng-click="toggleMessages()">{{Strings.messages}}</span class="button">
      </li>
      <li ng-if="true" class="subtitle" ng-repeat="link in Strings.devLinks|orderBy:$index:true">
        <a ui-sref="{{link.route}}">{{link.name}}</a>
      </li>
      <li ng-include="'app/components/user/user.html'" ></li>
    </ul>
  </section>
</nav>
