<nav class="top-bar row" ng-controller="NavbarController">
  <ul class="title-area">
    <li class="name">
      <h1>{{Strings.siteTitle}}</h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <a ui-sref="home">Home</a>
      </li>
      <li ng-class="{active:showMatches}" ng-click="toggleNavBar('matches')">
        <a href="#">{{Strings.matches}}</a>
      </li>
      <li ng-class="{active:showMessages}" ng-click="toggleNavBar('messages')">
        <a href="#">{{Strings.messages}}</a>
      </li>
      <li ng-class="{active:showProfile}" ng-click="toggleNavBar('profile')">
        <a href="#">{{Strings.profile}}</a>
      </li>
      <li ng-if="true" class="subtitle" ng-repeat="link in devLinks|orderBy:$index:true">
        <a ui-sref="{{link}}">{{Strings.buttonLabel[link]}}</a>
      </li>
      <li ng-include="'app/components/user/user.html'" ></li>
    </ul>
  </section>
</nav>
