<div ng-include="'app/components/navbar/navbar.html'"></div>
<div id="underlay">
  <div class="wrapper">
    <span class="reject"><span class="icon-blocked"></span></span>
    <span class="accept"><span class="icon-checkmark"></span></span>
  </div>
</div>
<div class="row" ng-show="loggedIn">
  <div class="small-12 small-centered columns">
    <div class="wrapper {{status.class}}">
      <p class="status {{status.class}}" ng-click="status.action()">{{status.currentFrame || status.text}}</p>
      <div class="mainView profile" ng-class="{open:shouldShowView('profile')}">
        <div class="close" ng-show="Config.baseView !== 'profile'" ng-click="closeProfile()">&times;</div>
        <div ng-include="'app/profile/profile.html'"></div>
      </div>
      <div class="mainView matches" ng-class="{open:shouldShowView('matches')}">
        <div class="close" ng-show="Config.baseView !== 'matches'" ng-click="toggleNavBar('matches', true)">&times;</div>
        <div ng-include="'app/matches/matches.html'"></div>
      </div>
      <div class="mainView messages" ng-class="{open:shouldShowView('messages')}">
        <div class="close" ng-show="Config.baseView !== 'messages'" ng-click="toggleNavBar('messages', true)">&times;</div>
        <div ng-include="'app/messages/messages.html'"></div>
      </div>
      <div class="mainView interests" ng-class="{open:shouldShowView('interests')}">
        <div class="close" ng-show="Config.baseView !== 'interests'" ng-click="toggleNavBar('interests', true)">&times;</div>
        <div ng-include="'app/interestsSelector/interestsSelector.html'"></div>
      </div>
    </div>
    <!-- <div class="loader status {{status.class}}" ng-click="status.action()">
      <p class="animation">{{status.currentFrame}}</p>
      <p class="statusLabel">{{status.text}}</p>
    </div> -->
  </div>
</div>

<div class="row welcome valign-middle" ng-show="(!loggedIn)">
  <div class="small-12 columns">
    <div class="small-6 end columns small-centered text-center">
      <h3 class="subtitle">{{Strings.welcomeTo}}</h3>
      <h1 class="subtitle">
        <span class="icon-fire"></span>&nbsp;<span class="icon-book"></span>&nbsp;<span class="icon-chat"></span>
      </h1>
    </div>
    <div class="small-6 end columns small-centered text-center">
      <div class="button centered" ng-click="loginWithFacebook()">Login with Facebook</div>
    </div>
  </div>
</div>