<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="row" ng-if="loggedIn">
  <div class="small-12 small-centered columns">
    <div class="wrapper {{status.class}}">
      <p class="status {{status.class}}" ng-click="status.action()" ng-show="!showProfile && !showMatches && !showMessages">{{status.currentFrame || status.text}}</p>
      <div class="mainView profile" ng-class="{open:showProfile}">
        <div class="close" ng-if="Config.defaultView !== 'profile'" ng-click="toggleNavBar('profile', false)">&times;</div>
        <div ng-include="'app/profile/profile.html'"></div>
      </div>
      <div class="mainView matches" ng-class="{open:showMatches}">
        <div class="close" ng-if="Config.defaultView !== 'matches'" ng-click="toggleNavBar('matches', false)">&times;</div>
        <div ng-include="'app/matches/matches.html'"></div>
      </div>
      <div class="mainView messages" ng-class="{open:showMessages}">
        <div class="close" ng-if="Config.defaultView !== 'messages'" ng-click="toggleNavBar('messages', false)">&times;</div>
        <div ng-include="'app/messages/messages.html'"></div>
      </div>
    </div>
    <div class="loader status {{status.class}}" ng-click="status.action()" ng-show="!showProfile && !showMatches && !showMessages">
      <p class="animation">{{status.currentFrame}}</p>
      <p class="statusLabel">{{status.text}}</p>
    </div>
  </div>
</div>
<div class="row" ng-if="!loggedIn">
  <div class="small-6 end columns small-centered text-center">
    <h3 class="subtitle">{{Strings.welcomeTo}}</h3>
    <h1 class="subtitle">
      <span class="icon-fire"></span>&nbsp;<span class="icon-book"></span>&nbsp;<span class="icon-chat"></span>
    </h1>
  </div>
  <div class="small-6 end columns small-centered text-center">
    <div class="button centered" ng-click="loginWithFacebook()">Login with Facebook</div>
  </div>
</div>