<div ng-include="'components/navbar/navbar.html'"></div>

<pre class="messages" ng-bind="messages"></pre>
<input type="text" ng-model="name" placeholder="Name" />
<input type="textarea" ng-model="message" placeholder="Message" />


<div class="button" ng-click="messageInput($event)">Let's do this thing!</div>
<div class="button" ng-click="checkLoginState()">Check Facebook Status</div>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<div id="status">
</div>
