@import './styles/settings';
@import './styles/cards';
@import './styles/messages';
@import './styles/profile';
@import './styles/fonts';

div.button{
  @extend a.button;
}

.mainView{
  display: none;
  &.open{
    display:block;
    position:relative;
    padding: 0.98em 0px;
    min-width:480px;
  }

}
.close{
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:40px;
  text-align:center;
  line-height:36px;
  vertical-align:middle;
  transition:0.3s 0.1s color linear,0.3s 0.1s font-weight linear;
  font-size:150%;
  font-weight:100;
  z-index:1000;
  &:hover{
    color:$alert-color;
    font-weight:700;
  }
}
.skew{
  transform: skewX(30deg);
}
.unskew{
  transform: skewX(-30deg);
}
.inline{
  display:inline-block!important;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}
[ng-click]{
  cursor:pointer;
  &.no-touch{
    cursor:default!important;
  }
}
.reveal-modal.matches{
  height: 410px;
  width: 300px;
}
.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.top-bar{
  .name{
    h1{
      color:#fff;
      padding-left:10px;
      padding-right:18px;
    }
    margin: 0 47px;
  }
  .fb-logout{
/*          display:none;*/
    background-color:$primary-color;
  }
  a.fb-login.tiny.button,a.fb-logout.tiny.button{
    font-size:14px;
    width:auto;
    height:$topbar-height;
  }

  .right.show-for-small-only{
    li a{
      height:$topbar-height;
      width:33.333333333%;
      float:right;
      text-align:center;
      display:inline-block;
      padding:12px;
      font-size:$topbar-height/4;
      line-height:$topbar-height / 2 + 10;
      &.profilePicture{
        border:2px solid $primary-color;
        height:$topbar-height;
        padding:0 0 0 0;
        width:auto;
        background-color:transparent;
      }
    }

  }
  .left{
    li{
      &.active:hover{
        .iconWrapper span.subtitle{
          color:black;
        }
      }
      &:hover{
        .iconWrapper span.glyph{
          opacity: 0;
        }
        .iconWrapper span.subtitle{
          color:white;
          opacity:1;
        }
      }

      .iconWrapper span.glyph{
        display:inline-block;
        width:1em;
        opacity:1;
        transition:0.3s 0.1s color,0.3s 0.1s opacity;

      }
      .iconWrapper span.subtitle{
        display: inline-block;
        opacity:0;

        position: absolute;
        left: 0%;
        top: $topbar-height / 4;

        height: 0px;
        width: $topbar-height + 10px;

        text-align: center;
        text-indent: 0;
        font-size: 13px;
        color: white;

        transform: rotateZ(60deg);
        z-index: 1000;
        transition:0.3s 0.1s color,0.3s 0.1s opacity;
      }
    }
  }
  .top-bar-section ul li {
    background-color:transparent;
    backface-visibility:hidden;
    transform:translateZ(0);
    &.active{
      &:not(.has-form) a:not(.button).skew{
        font-size:22px;
        background-color:lighten($primary-color, 10%);
        &:hover{
          background-color:$secondary-color;
        }
      }
      &:last-child{
        border-right:none!important;
      }
    }

    &:last-child a{
      border-right:none!important;
    }

    &:not(.has-form) a:not(.button).skew{
      font-size:22px;
      transition:0.3s 0.1s background-color, 0.3s 0.1s color;
      background-color:$primary-color;
      border-right:3px solid $secondary-color;
      &:hover{
        background-color:lighten($primary-color,10%);
      }
    }
  }
}
.icon-bar.show-for-small-only{
  label{
    transition:0.3s 0.1s color,0.3s 0.1s background-color;
  }
  a.item{
    background-color:darken($primary-color,20%);
    color:white;
    transition:0.3s 0.1s color, 0.3s 0.1s background-color;
    &.active{
      background-color:darken($primary-color,10%);
      &:hover{
        background-color:$secondary-color;
      }
    }
    &:hover{
      color:black;
      background-color:$primary-color;
      label{
        transition:0.3s 0.1s color, 0.3s 0.1s background-color;
        color:black;
      }
    }
  }
}

.wrapper{
  &.status-loading{
    display:none;
  }
  &.status-ready{
    display:block;
  }
}
.loader{
  position:absolute;
  top:42px;
  left:0px;
  width:100%;
  padding-top:30%;
  &.status-loading{
    display:block;
    text-align: center;

    .animation{
      font-size:100px;
    }
    .statusLabel{
      font-size:50px;
    }
  }
  &.status-ready{
    display:none;

  }
}

.status-disconnected{
  .mainView{
    opacity:0.7;
    pointer-events:none;
    .messageWrapper {
      pointer-events: all;
    }
  }
}
.status{
  position:absolute;
  width:100%;
  top:0px;
  left:0px;
  font-size:14px;
  &>p{
    text-align:center;
    background:rgba(0,0,0,0.3);
  }
}
.status.status-loading{
  color:#666;
}
.status.status-ready.status{
  color:#408000;
  text-align:center;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-iterations:1;
  animation-duration: 10s;
}
.status.status-error{
  color:#F66;
}
section.top-bar-section ul.right li img{
  max-height: $topbar-height - 4;
}

.reveal-modal.open{
  display: block;
  opacity: 1;
  visibility: visible;
  top: 88px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    transform: scale(1);
  }
  80%{
    opacity: 0;
  }
  100% {
    transform: scale(0);
    display:none;
  }
}



