@import './styles/settings';
@import './styles/cards';
@import './styles/messages';
@import './styles/profile';
@import './styles/fonts';
@import './styles/interestsSelector';

$arrow-size: $topbar-height / 2;
$arrow-color: $primary-color;

$green: #408000;
$red: #ce1f25;
$transparent: transparent;

.arrow-bottom-right {
  border-bottom: ($arrow-size * 1.2) solid $arrow-color;
  border-left: $arrow-size solid $transparent;
  width: 0;
  height: 0;
}

[ng-controller="NavbarController"] {
  background-color: $primary-color;
}

.button {
  @extend %button;
}

[ui-view] {
  background-color: $white;
  height: 80%;
}

.welcome {
  min-height: 80%;
}

.valign-middle {
  display: table;

  > .columns {
    display: table-cell;
    vertical-align: middle;
  }

  > .columns,
  > [class*="column"] + [class*="column"]:last-child {
    float: none;
  }
}

.mainView {
  display: none;

  &.open {
    display: block;
    position: relative;
    padding: 0.98em 0px;
    min-width: 480px;
  }
}

.close {
  position: absolute;

  top: 0;
  right: 0;

  transition: 0.3s 0.1s color linear, 0.3s 0.1s font-weight linear;
  z-index: 1000;

  width: 40px;
  height: 40px;

  vertical-align: middle;
  text-align: center;
  line-height: 36px;
  font-size: 150%;
  font-weight: 100;

  &:hover {
    color: $alert-color;
    font-weight: 700;
  }
}

.skew {
  transform: skewX(30deg);
}

.unskew {
  transform: skewX(-30deg);
}

.inline {
  display: inline-block !important;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: $black;
}

.panel {
  margin-top: 50px;
}

[ng-click],
.ng-click {
  cursor: pointer;

  &.no-touch {
    cursor: default !important;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: lighten($primary-color, 60%);
  max-width: 100%;

  .link {
    display: table;
    height: 3em;
    text-align: center;
    font-family: monospace;
  }

  a {
    display: table-cell;
    vertical-align: middle;
  }
}

.top-bar {
  overflow: hidden;

  .name {
    margin: 0 47px;

    h1 {
      padding-right: 18px;
      padding-left: 10px;
      color: $white;
      font-size: 30px;
    }
  }

  .fb-logout {
    background-color: $primary-color;
  }

  .fb-login.tiny.button,
  .fb-logout.tiny.button {
    width: auto;
    height: $topbar-height;
    font-size: 14px;
  }

  .right.show-for-small-only {
    li a {
      display: inline-block;
      float: right;
      padding: 12px;
      width: 33.333333333%;
      height: $topbar-height;
      text-align: center;
      line-height: $topbar-height / 2 + 10;
      font-size: $topbar-height/4;

      .profilePicture {
        border: 2px solid $primary-color;
        background-color: $transparent;
        padding: 0;
        width: auto;
        height: $topbar-height;
      }
    }
  }

  .left {
    li {
      &.active:hover {
        .iconWrapper .subtitle {
          color: $black;
        }
      }

      &:hover {
        .iconWrapper .glyph {
          opacity: 0;
        }

        .iconWrapper .subtitle {
          opacity: 1;
          color: $white;
        }
      }

      .iconWrapper {
        .glyph {
          display: inline-block;
          transition: 0.3s 0.1s color, 0.3s 0.1s opacity;
          opacity: 1;
          width: 1em;
        }

        .subtitle {
          display: inline-block;
          position: absolute;
          top: $topbar-height / 4;
          left: 0%;
          transform: rotateZ(60deg);
          transition: 0.3s 0.1s color, 0.3s 0.1s opacity;
          opacity: 0;
          z-index: 1000;
          width: $topbar-height + 10px;
          height: 0px;
          text-align: center;
          text-indent: 0;
          color: $white;
          font-size: 13px;
        }
      }
    }
  }

  .top-bar-section li {
    &.profilePicture {
      a {
        padding: 0;
        width: auto !important;
      }
    }
  }

  .top-bar-section ul li {
    transform: translateZ(0);
    margin-left: -1px;
    background-color: $transparent;

    backface-visibility: hidden;

    &.active {
      &:not(.has-form) *:not(.button).skew {
        background-color: lighten($primary-color, 10%);
        font-size: 22px;

        &:hover {
          background-color: $secondary-color;
        }
      }

      &:last-child {
        border-right: none !important;
      }
    }

    &:last-child a {
      border-right: none !important;
    }

    &:not(.has-form) *:not(.button).skew {
      transition: 0.3s 0.1s background-color, 0.3s 0.1s color;
      border-right: 3px solid $secondary-color;
      background-color: $primary-color;
      font-size: 22px;

      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }
  }
}

.icon-bar.show-for-small-only {
  label {
    transition: 0.3s 0.1s color, 0.3s 0.1s background-color;
  }

  .item {
    transition: 0.3s 0.1s color, 0.3s 0.1s background-color;
    background-color: darken($primary-color, 20%);
    color: $white;

    &.active {
      background-color: darken($primary-color, 10%);

      &:hover {
        background-color: $secondary-color;
      }
    }

    &:hover {
      background-color: $primary-color;
      color: $black;

      label {
        transition: 0.3s 0.1s color, 0.3s 0.1s background-color;
        color: $black;
      }
    }
  }
}

.wrapper {
  &.status-loading {
    display: none;
  }

  &.status-ready {
    display: block;
  }
}

.loader {
  position: absolute;

  top: 42px;
  left: 0px;

  padding-top: 30%;

  width: 100%;

  &.status-loading {
    display: block;
    text-align: center;

    .animation {
      font-size: 100px;
    }

    .statusLabel {
      font-size: 0px;
    }
  }

  &.status-ready {
    display: none;
  }
}

.status-disconnected {
  .mainView {
    opacity: 0.7;

    .messageWrapper {
      pointer-events: all;
    }
  }
}

.status {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;

  &.status-error {
    color: $red;
  }

  &.status-loading {
    color: $steel;
  }

  &.status-facebook {
    animation-name: fadeOut;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    text-align: center;
    color: $green;
  }

  &.status-ready {
    animation-name: fadeOut;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    text-align: center;
    color: $green;
  }

  >p {
    background: rgba($black, 0.3);
    text-align: center;
  }
}

.top-bar-section .right li img {
  max-height: $topbar-height;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.underlay {
  position: absolute;
  top: 0px;
  transition: 0.3s opacity;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  text-align: center;

  pointer-events: none;

  &.shown {
    opacity: 0.6;
  }

  .wrapper {
    position: relative;

    height: 100%;
    font-size: 50px;

    pointer-events: none;

    .accept {
      position: absolute;
      top: 50%;
      right: -0.2em;
      transform: translateY(-1em);
      vertical-align: middle;
      color: rgba($green, 0.5);
    }

    .reject {
      position: absolute;
      top: 50%;
      left: -0.3em;
      transform: translateY(-1em);
      color: rgba($red, 0.5);
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  99.99% {
    transform: rotate(359.9deg);
  }
}

.rotating {
  animation: rotating 3s linear infinite;
}
