@import './styles/settings';
@import './styles/cards';
@import './styles/messages';
@import './styles/profile';
@import './styles/fonts';

div.button{
  @extend a.button;
}
.close{
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:40px;
  text-align:center;
  line-height:36px;
  vertical-align:middle;
  transition:0.3s 0.1s color linear,0.3s 0.1s font-weight linear;
  font-size:150%;
  font-weight:100;
  &:hover{
    color:$alert-color;
    font-weight:700;
  }
}
.skew{
  transform:skewX(33deg);
}
.unskew{
  transform:skewX(-33deg);
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}
[ng-click]{
  cursor:pointer;
  &.no-touch{
    cursor:default!important;
  }
}
.reveal-modal.matches{
  height: 410px;
  width: 300px;
}
.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.top-bar{
  .name{
    h1{
      color:#fff;
      padding-left:10px;
      padding-right:18px;
    }
  }
  .right.show-for-small-only{
    li a{
      width:auto;
      float:right;
      text-align:center;
      display:inline-block;
      padding:12px;
      &.profilePicture{
        border:2px solid $primary-color;
        padding:0;
      }
    }
  }
  .top-bar-section ul li {
    background-color:transparent;

    &.active{
      border-right:3px solid $secondary-color;
      &:not(.has-form) a:not(.button).skew{
        background-color:lighten($primary-color, 10%);
        &:hover{
          background-color:$secondary-color;
          color:black;
        }
      }
      &:last-child a{
        border-right:none!important;
      }
    }
    &:last-child{
      border-right:none!important;
    }

    &:not(.has-form) a:not(.button).skew{
      transition:0.3s 0.1s background-color, 0.3s 0.1s color;
      background-color:$primary-color;
      border-right:3px solid $secondary-color;
      &:hover{
        background-color:lighten($primary-color,10%);
      }
      &:last-child a{
        border-right:none!important;
      }

    }

    a span{
      font-size: 20px;
      vertical-align: sub;
    }
  }
}
.icon-bar{
  label{
    transition:0.3s 0.1s color,0.3s 0.1s background-color;
  }
  a.item{
    background-color:#333333;
    color:white;
    transition:0.3s 0.1s color, 0.3s 0.1s background-color;
    &:hover{
      color:black;
      background-color:$secondary-color;
      label{
        transition:0.3s 0.1s color, 0.3s 0.1s background-color;
        color:black;
      }
    }
  }
}
.wrapper{
  &.status-loading{
    display:none;
  }
  &.status-ready{
    display:block;
  }
}
.loader{
  position:absolute;
  top:42px;
  left:0px;
  width:100%;
  padding-top:30%;
  &.status-loading{
    display:block;
    text-align: center;

    .animation{
      font-size:100px;
    }
    .statusLabel{
      font-size:50px;
    }
  }
  &.status-ready{
    display:none;

  }
}

.status.status-loading{
  color:#666;
}
.status.status-ready.status{
  color:#408000;
  text-align:center;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-iterations:1;
  animation-duration: 10s;
  position:absolute;
  width:90%;
  top:0px;
}
.status.status-error{
  color:#F66;
}
section.top-bar-section ul.right li img{
  max-height: 42px;
}

.reveal-modal.open{
  display: block;
  opacity: 1;
  visibility: visible;
  top: 88px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    transform: scale(1);
  }
  80%{
    opacity: 0;
  }
  100% {
    transform: scale(0);
    display:none;
  }
}



