<nav class="top-bar row" ng-controller="NavbarController">
  <ul class="title-area">
    <li class="name">
      <h1>{{Strings.siteTitle}}</h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li ng-repeat="link in Strings.links|orderBy:$index:true"><a ui-sref="{{link.route}}">{{link.name}}</a></li>
      <!-- <li><a href="http://example.com:3000">example.com:3000</a></li> -->
      <li ng-include="'components/user/user.html'" ></li>
    </ul>
  </section>
</nav>
