<div ng-controller="MessagesListController" id="Messages" >
  <dl class="sub-nav" ng-show="roomsReady">
    <dt>{{Strings.rooms}}</dt>
    <dd ng-repeat="room in rooms" ng-class='{active:room === currentRoom}'>
      <div ng-click="setCurrentRoom(room);">{{getRoomName(room, user, currentInterest)}}</div>
    </dd>
  </dl>
  <div ng-repeat="room in rooms">
    <div ng-if="parseInt(room) < parseInt(userId)">
      <messages-gph
        profile="profiles[room]"
        room="room"
        close-room="closeRoom"
        local-user="user"
        messages="messages[room + '+' + userId]"
        ng-show="room === currentRoom"
        ></messages-gph>
    </div>
    <div ng-if="parseInt(room) > parseInt(userId)">
      <messages-gph
        profile="profiles[room]"
        room="room"
        close-room="closeRoom"
        local-user="user"
        messages="messages[userId + '+' + room]"
        ng-show="room === currentRoom"
        ></messages-gph>
    </div>
  </div>
</div>