<div ng-controller="ProfileController" class="profile">
  <div class="row collapse photo" ng-cloak>


    <div class="small-12 show-for-medium-up medium-3 columns">
      <card-gph
        card-template="MatchDisplay"
        card="user"
        class="deck profile-card-gph"
        duration="250"
        initial-position="{x:0, y:0, rotation:0}"
        max-drag="250"
        disable-drag="true"
        >
      </card-gph>
      <!--
        <img
          ng-src="{{user.profilePicture.data.url}}"
          class="no-touch"
          ng-click="facebookHandlesImagesWarning = true"
        />
        -->
    </div>
    <div class="small-12 medium-9 columns">
      <div class="row name">
        <form
          editable-form
          name="nameForm"
          blur="submit"
          onaftersave="save(user.profile)"
        >
          <div class="small-12 medium-3 columns">
            <label
              for="name"
              ng-click="nameForm.$show()"
              class="center-for-small-only right-for-medium-up"
              >
                {{Strings.name}}
            </label>
          </div>
          <div class="small-12 medium-9 columns">
            <a
              id="name"
              href="#"
              ng-click="nameForm.$show()"
              ng-show="!nameForm.$visible"
              blur="submit"
              editable-text="user.profile.name"
              >
                {{ user.profile.name || Strings.name }}
            </a>
          </div>
        </form>
      </div>

      <div class="row email">
        <form
          editable-form
          name="emailForm"
          blur="submit"
          onaftersave="save(user.profile)"
        >
          <div class="small-12 medium-3 columns">
            <label
              for="email"
              ng-click="emailForm.$show()"
              class="center-for-small-only right-for-medium-up"
              >
                {{Strings.email}}
            </label>
          </div>
          <div class="small-12 medium-9 columns">
            <a
              id="email"
              href="#"
              ng-click="emailForm.$show()"
              ng-show="!emailForm.$visible"
              editable-email="user.profile.email"
              >
                {{ user.profile.email || Strings.email }}
            </a>
          </div>
        </form>
      </div>

      <div class="row aboutMe">
        <form
          editable-form
          name="aboutMeForm"
          blur="submit"
          onaftersave="save(user.profile)"
        >
          <div class="small-12 medium-3 columns">
            <label
              class="center-for-small-only right-for-medium-up"
              for="aboutMe"
              ng-click="aboutMeForm.$show()"
              >
                {{Strings.aboutMe}}
            </label>
          </div>
          <div class="small-12 medium-9 columns">
            <blockquote
              editable-textarea="user.profile.aboutMe"
              e-rows="7"
              e-cols="40"
              ng-click="aboutMeForm.$show()"
              ng-show="!aboutMeForm.$visible"
              >
                {{ user.profile.aboutMe || 'no ' + Strings.aboutMe }}
            </blockquote>
          </div>
        </form>
      </div>

      <div class="row interests">
        <form
          editable-form
          name="interestsForm"
          blur="submit"
          onaftersave="save(user.profile)"
        >
          <div class="small-12 medium-3 columns">
            <label
              class="center-for-small-only right-for-medium-up"
              ng-click="interestsForm.$show()"
              >{{Strings.interests}}</label>
          </div>
          <div class="small-12 medium-9 columns">
            <ul class="inline-list">
              <li class="interestWrapper" ng-repeat="interest in user.profile.interests track by $index">
                {{interest}}
                <span class="remove" ng-click="removeInterest(interest, user.profile.interests)">&times;</span>
              </li>
              <li>
                <div
                  editable-text="addInterestPlaceholder"
                  onbeforesave="checkInterest($data, user.profile.interests)"
                  onaftersave="addInterest($data, user.profile)">
                </div>
              </li>
              <li class="addInterest noGlyph"
                href="#"
                e-form="interestsForm"
                ng-click="interestsForm.$show()"
                ng-show="!interestsForm.$visible"
                >
                {{Strings.addInterest}}
              </li>
            </ul>
          </div>
        </form>
      </div>

      <div class="row topInterests interests" ng-if="showTopInterests()===true">
        <div class="small-12 medium-3 columns">
          <label class="center-for-small-only right-for-medium-up no-touch">{{Strings.topInterests}}</label>
        </div>
        <div class="small-12 medium-9 columns">
          <ul class="inline-list">
            <li
              class="common interestWrapper"
              ng-repeat="interest in Strings.fallbackLikes"
              ng-class="{'ng-cloak':user.profile.interests.indexOf(interest) !== -1}"
              >
              <!-- ng-class="{disabled:user.profile.interests.indexOf(interest) !== -1}" -->
                {{interest}}
                <span class="inline" ng-if="user.profile.interests.indexOf(interest) === -1" ng-click="addInterest(interest, user.profile)">{{Strings.addInterest}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row facebookInterests interests">
        <div class="small-12 medium-3 columns">
          <label class="center-for-small-only right-for-medium-up no-touch">
            <span class="icon-facebook"></span> {{Strings.interests}}
          </label>
        </div>
        <div class="small-12 medium-9 columns">
          <div
            class="button tiny secondary"
            ng-click="showFacebookInterests = !showFacebookInterests;suggestFacebookInterests()"
            ng-show="!showFacebookInterests"
            >
              {{Strings.suggest}} <span class="icon-facebook"></span> {{Strings.interests}}
          </div>
          <div ng-show="showFacebookInterests">
            <ul class="inline-list" ng-hide="facebookInterestsLoading">
              <li>
                {{Strings.suggestionsFromFacebook}}<span class="inline icon-facebook"></span>:
              </li>
              <li ng-if="facebookInterestsError">
                <div>{{facebookInterestsError}}</div>
              </li>
              <li ng-if="allLikesAreAlreadyAdded(likes, (user.profile.interests || []))">
                {{Strings.allLikesAreAlreadyAdded}}
              </li>
              <li class="interestWrapper facebook" ng-repeat="like in likes" ng-if="!isInInterests(like.name||like, (user.profile.interests || []))">
                {{like.name||like}}
                <span class="inline" ng-click="addInterest(like.name||like, user.profile)">{{Strings.addInterest}}</span>
              </li>
            </ul>
            <div ng-show="facebookInterestsLoading">{{Strings.loading}}</div>

            <button
              ng-class="{disabled:facebookInterestsLoading}"
              ng-if="facebookFirstCursor!==facebookBeforeCursor"
              ng-disabled="facebookInterestsLoading"
              ng-click="suggestFacebookInterests(likesPaging,'before')">
              &larr;
            </button>
            <button
              ng-class="{disabled:facebookInterestsLoading}"
              ng-disabled="facebookInterestsLoading"
              ng-click="suggestFacebookInterests(likesPaging,'after')"
              >
              &rarr;
            </button>
          </div>
        </div>
      </div>
      <div class="row blacklist">
        <div class="small-12 medium-3 columns">
          <label class="center-for-small-only right-for-medium-up no-touch">
            {{Strings.blacklist}}
          </label>
        </div>
        <div class="small-12 medium-9 columns">
          <ul class="inline-list">

            <li
              class="blacklistedWrapper no-touch"
              ng-repeat="blacklisted in user.profile.blacklist track by $index"
              >
                {{blacklisted.name}}
              <span class="remove"  ng-click="removeBlacklist($index)">&times;</span>
            </li>
          </ul>
          <span class="addBlacklist" ng-click="showBlacklistSelector = !showBlacklistSelector;populateRoomNames()" ng-hide="showBlacklistSelector">
            <span class="black" ng-if="user.profile.blacklist.length === 0 || !user.profile.blacklist">
              {{Strings.blacklistEmpty}}
            </span>
            {{Strings.addBlacklist}}
          </span>
          <div class="blacklistSelector" ng-show="showBlacklistSelector">
            <ul class="inline-list">
              <li class="blacklistSelector">
                <!-- ng-if="roomNames.length < user.profile.blacklist.length" -->
                <dl class="sub-nav">
                  <!-- ng-if="!roomIsAlreadyBlacklisted(room)" -->
                  <dd ng-repeat="room in roomNames track by room.id" ng-if="checkBlacklist(room.id)">
                    <div>
                      <!-- TODO: Avoid repeating already listed items -->
                      <span class="icon-shield" ng-click="addBlacklist(room);"></span>
                      {{room.name}}
                    </div>
                  </dd>
                </dl>
                <dl class="sub-nav" ng-if="roomNames.length === user.profile.blacklist.length">
                  <dd>
                    I believe you have blacklisted every single user. Nice job, you friendly person you.
                  </dd>
                </dl>
              </li>
            </ul>
            <p ng-click="showBlacklistSelector = !showBlacklistSelector;" class="small button"><span class="icon-checkmark"></span></p>
          </div>
        </div>
      </div>
      <div class="row facebookWarning">
        <div class="small-12 columns">
          <div class="small error" ng-if="facebookHandlesImagesWarning">
            {{Strings.facebookHandlesImagesWarning}}
          </div>
        </div>
      </div>
  </div>
</div>