<div ng-controller="ProfileController" class="profile">
  <div class="row photo" ng-cloak>
    <div class="small-12 show-for-medium-up medium-3 columns">
      <img ng-src="{{user.profilePicture.data.url}}" class="no-touch" ng-click="facebookHandlesImagesWarning = true"/>
    </div>
    <div class="small-12 medium-9 columns">
      <div class="row name">
        <div class="small-12 medium-3 columns">
          <label for="name">{{Strings.name}}</label>
        </div>
        <div class="small-12 medium-9 columns">
          <a id="name" href="#" buttons="no" onaftersave="save(user.profile)" editable-text="user.profile.name">
            {{ user.profile.name || Strings.name }}
          </a>
        </div>
      </div>
      <div class="row email">
        <div class="small-12 medium-3 columns">
          <label for="email">{{Strings.email}}</label>
        </div>
        <div class="small-12 medium-9 columns">
          <a id="email" href="#" buttons="no" onaftersave="save(user.profile)" editable-email="user.profile.email">
            {{ user.profile.email || Strings.email }}
          </a>
        </div>
      </div>
      <div class="row interests">
        <div class="small-12 medium-3 columns">
          <label>{{Strings.interests}}</label>
        </div>
        <div class="small-12 medium-9 columns">
          <ul class="inline-list">
            <li class="interestWrapper" ng-repeat="interest in user.profile.interests">
              {{interest}}
              <span class="remove" ng-click="removeInterest(interest, user.profile.interests)">&times;</span>
            </li>
            <li id="addInterest"
              href="#"
              editable-text="addInterestPlaceholder"
              buttons="no"
              class="noGlyph"
              onbeforesave="checkInterest($data, user.profile.interests)"
              onaftersave="addInterest($data, user.profile)">
              {{Strings.addInterest}}
            </li>
          </ul>
          <div class="button tiny secondary" ng-click="showFacebookInterests = !showFacebookInterests;suggestFacebookInterests()" ng-hide="showFacebookInterests">
            {{Strings.suggestFacebookInterests}}
          </div>
          <div ng-show="showFacebookInterests">
            <ul class="inline-list" ng-hide="facebookInterestsLoading">
              <li>
                {{Strings.suggestionsFromFacebook}}<span class="inline icon-facebook"></span>:
              </li>
              <li class="interestWrapper facebook" ng-repeat="like in likes">
                {{like.name}}
                <span class="inline" ng-click="addInterest(like.name, user.profile)">{{Strings.addInterest}}</span>
              </li>
            </ul>
            <div ng-show="facebookInterestsLoading">Loading...</div>

            <button ng-class="{disabled:facebookInterestsLoading}" ng-disabled="facebookInterestsLoading" ng-click="suggestFacebookInterests(likesPaging,'before')">&larr;</button>
            <button ng-class="{disabled:facebookInterestsLoading}" ng-disabled="facebookInterestsLoading" ng-click="suggestFacebookInterests(likesPaging,'after')">&rarr;</button>
          </div>
        </div>
      </div>
      <div class="row blacklist">
        <div class="small-12 medium-3 columns">
          <label>{{Strings.blacklist}}</label>
        </div>
        <div class="small-12 medium-9 columns">
          <ul class="inline-list">
            <li class="blacklistedWrapper" ng-repeat="blacklisted in user.profile.blacklist track by $index">
              {{blacklisted.name}}
              <!-- TODO: Expose this info on hover -->
              <!-- <div class="hover">({{blacklisted.id}})</div> -->
              <span class="remove" ng-click="removeBlacklist($index)">&times;</span>
            </li>
          </ul>
          <div ng-click="showBlacklistSelector = !showBlacklistSelector;populateRoomNames()" ng-hide="showBlacklistSelector">
            {{Strings.addBlacklist}}
          </div>
          <div class="blacklistSelector" ng-show="showBlacklistSelector">
            <ul class="inline-list">
              <li class="blacklistSelector">
                <!-- ng-if="roomNames.length < user.profile.blacklist.length" -->
                <dl class="sub-nav" >
                  <!-- ng-if="!roomIsAlreadyBlacklisted(room)" -->
                  <dd ng-repeat="room in roomNames track by room.id" ng-if="checkBlacklist(room.id)">
                    <div>
                      <!-- TODO: Avoid repeating already listed items -->
                      <span class="icon-shield" ng-click="addBlacklist(room);"></span>
                      {{room.name}}
                    </div>
                  </dd>
                </dl>
                <dl class="sub-nav" ng-if="roomNames.length === user.profile.blacklist.length">
                  <dd>
                    I believe you have blacklisted every single user. Nice job, you friendly person you.
                  </dd>
                </dl>
              </li>
            </ul>
            <p ng-click="showBlacklistSelector = !showBlacklistSelector;" class="small button"><span class="icon-checkmark"></span></p>
          </div>
        </div>
      </div>
      <div class="row aboutMe">
        <div class="small-12 medium-3 columns">
          <label for="aboutMe">{{Strings.aboutMe}}</label>
        </div>
        <div class="small-12 medium-9 columns">
          <blockquote editable-textarea="user.profile.aboutMe" e-rows="7" e-cols="40">
            {{ user.profile.aboutMe || 'no ' + Strings.aboutMe }}
          </blockquote>
        </div>
      </div>
      <div class="row facebookWarning">
        <div class="small-12 columns">
          <div class="small error" ng-if="facebookHandlesImagesWarning">
            {{Strings.facebookHandlesImagesWarning}}
          </div>
        </div>
      </div>
  </div>
</div>